:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;

  --themeDotBorder: #24292e;

  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;
}

/* TYPO */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, strong {
  color: var(--mainText);
  font-family: 'Orbitron', sans-serif;
}

p, li, span, label, input, textarea {
  color: var(--secondaryText);
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  color: #17a3b8;
  font-family: 'Roboto Mono', monospace;
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

.style-1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
}

.style-2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}
/* /TYPO */

/* INTRO SECTION */
.welcome-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 160px;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "nav-wrapper nav-wrapper"
  "left-column right-column"
  ;
}

.nav-wrapper {
  border-radius: 5px 5px 0 0;
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
}

.circle-wrapper {
  display: flex;
  padding: 10px;
}

.circle {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

}

#circle-1 {
  background-color: #ff605c;
}

#circle-2 {
  background-color: #ffbd44;
}

#circle-3 {
  background-color: #00ca4e;
}

#navbar {
  padding: 10px;
}

#navbar li {
  display: inline-block;
  margin: 5px;
}

.left-column {
  grid-area: left-column;
  padding: 50px 0;
}

#profile-pic {
  display: block;
  margin: 0 auto 30px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: left;
  border: 2px solid var(--borderColor);
}

.left-column h5 {
  text-align: center;
  margin-bottom: 30px;
}

#theme-options-wrapper {
  display: flex;
  justify-content: center;
}

.button-theme {
  box-sizing: content-box;
  width: 30px;
  height: 30px;
  background-color: black;
  border: 2px solid var(--themeDotBorder);
  border-radius: 50%;
  margin: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  cursor: pointer;
}

.button-theme:hover {
  border: 5px solid var(--themeDotBorder);
}

#light-mode {
  background-color: #fff;
}

#dark-mode {
  background-color: #424242;
}

#blue-mode {
  background-color: #1f354b;
}

#orange-mode {
  background-color: #f3ab27;
}

#settings-message {
  width: 45%;
  margin: 20px auto 0;
  text-align: center;
  font-size: 12px;
  font-style: italic;
}

.right-column {
  grid-area: right-column;
  display: grid;
  align-items: center;
  padding: 50px 0;
}

#preview-shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 180px;
  padding: 30px 0 0 30px;
}

#preview {
  width: 300px;
  border: 2px solid #17a2b8;
  background-color: var(--previewBg);
  padding: 15px;
  position: relative;
}

#preview h3 {
  margin: 28px 0 20px;
}

#preview p {
  margin: 16px 0;
}
.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}
/* /INTRO SECTION */

/* ABOUT ME SECTION */
.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 50px 0;
  gap: 100px;
}

.about-wrapper h4 {
  margin: 20px 0;
}

.about-wrapper p {
  margin: 16px 0;
}

.skills-box {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
  padding: 20px 0;
}

.socials {
  display: grid;
  align-content: center;
  text-align: center;
  gap: 20px;
}

.social-image {
  width: 100%;
}
/* /ABOUT ME SECTION */

/* MEDIA QUERY */
@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
    "nav-wrapper"
    "left-column"
    "right-column"
    ;
  }

  .right-column {
    justify-content: center;
    padding-bottom: 100px;
  }
}