:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;

  --themeDotBorder: #24292e;
}

/* TYPO */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, strong {
  color: var(--mainText);
  font-family: 'Orbitron', sans-serif;
}

p, li, span, label, input, textarea {
  color: var(--secondaryText);
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

.style-1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
}

.style-2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

/* Intro section */
.welcome-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 160px;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-column right-column"
  ;
}

.nav-wrapper {
  border-radius: 5px 5px 0 0;
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
}

.circle-wrapper {
  display: flex;
  padding: 10px;
}

.circle {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

}

#circle-1 {
  background-color: #ff605c;
}

#circle-2 {
  background-color: #ffbd44;
}

#circle-3 {
  background-color: #00ca4e;
}

#navbar {
  padding: 10px;
}

#navbar li {
  display: inline-block;
  margin: 5px;
}

.left-column {
  grid-area: left-column;
  padding: 50px 0;
}

#profile-pic {
  display: block;
  margin: 0 auto 30px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: left;
  border: 2px solid var(--borderColor);
}

.left-column h5 {
  text-align: center;
  margin-bottom: 30px;
}

#theme-options-wrapper {
  display: flex;
  justify-content: center;
}

.button-theme {
  width: 32px;
  height: 32px;
  background-color: black;
  border: 2px solid var(--themeDotBorder);
  border-radius: 50%;
  margin: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  cursor: pointer;
}

.button-theme:hover {
  border: 5px solid var(--themeDotBorder);
  width: 35px;
  height: 35px;
}

#light-mode {
  background-color: #fff;
}

#dark-mode {
  background-color: #424242;
}

#blue-mode {
  background-color: #1f354b;
}

#orange-mode {
  background-color: #f3ab27;
}

#settings-message {
  width: 60%;
  margin: 20px auto 0;
  text-align: center;
  font-size: 12px;
  font-style: italic;
}

.right-column {
  grid-area: right-column;
}